.fade-enter-active,
.fade-leave-active {
  /* アニメーションの時間、イージングなどを設定 */
  transition: opacity 500ms ease-out;
}
/* フェードイン */
.fade-enter {
  /* フェードインの初期状態 */
  opacity: 0;
}
.fade-enter-to {
  /* フェードインの終了状態 */
  opacity: 1;
}
/* フェードアウト */
.fade-leave {
  /* フェードアウトの初期状態 */
  opacity: 1;
}
.fade-leave-to {
  /* フェードアウトの終了状態 */
  opacity: 0;
}
